@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -2;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.5rem;
}


/* SpaceX Brand Style Button */
.spacex-button {
  background-color: #000;  /* Dark background */
  color: #fff;  /* Light text */
  border: 2px solid #fff;  /* Light border */
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;  /* Modern sans-serif font */
  font-size: 16px;
  font-weight: 500;  /* Medium weight for boldness */
  text-transform: uppercase;  /* Uppercase text */
  transition: all 0.3s ease;  /* Smooth transition for hover effects */
  cursor: pointer;
}

/* Hover Effect */
.spacex-button:hover {
  background-color: #fff;  /* Light background */
  color: #000;  /* Dark text */
  border: 2px solid #000;  /* Dark border */
}